@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

#header {
  background: #FFFFFF;
  padding: 0 40px;
  margin-top: 20px;
}
#header .header--general {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header--general__start a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #011F3A;
  padding: 0 20px;
}
#header .header--general__shop a {
  font-weight: 400;
  font-size: 14px;
  color: #011F3A;
}

#hero {
  background: #F2AE4D;
  padding-top: 50px;
}
#hero .hero--general {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hero .hero--general__block h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #011F3A;
  margin-bottom: 30px;
}
#hero .hero--general__block p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #011F3A;
  margin-bottom: 20px;
}
#hero .hero--general__block button {
  padding: 15px 30px;
  background: #3D5675;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid #3D5675;
}
#hero .hero--general__block button:hover {
  transform: scale(1.1);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#amazon {
  background: #FFFFFF;
  padding: 0 40px;
  margin-top: 20px;
}
#amazon .amazon--general__block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#amazon .amazon--general__block h1 {
  font-weight: 400;
  font-size: 15px;
  color: #A1A1A1;
}

#product {
  background: #EEEEEE;
  padding: 0 40px;
  margin-top: 20px;
}
#product .product--general__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#product .product--general__title h1 {
  font-weight: 400;
  font-size: 32px;
  color: #011F3A;
  margin-top: 57px;
  margin-bottom: 50px;
}
#product .product--general__title button {
  padding: 15px 30px;
  background: #3D5675;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid #3D5675;
  margin-top: 57px;
  margin-bottom: 50px;
}
#product .product--general__title button:hover {
  transform: scale(1.1);
}
#product .me--general {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#product .me--general__block {
  width: 380px;
  height: 432px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 0;
}
#product .me--general__block h1 {
  font-weight: 400;
  font-size: 18px;
  color: #011F3A;
  margin-left: 20px;
}
#product .me--general__block h2 {
  height: 72px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #777777;
  margin-left: 20px;
}
#product .me--general__block h3 {
  font-weight: 400;
  font-size: 13px;
  color: #777777;
  margin-left: 270px;
  line-height: 24px;
  margin-top: -65px;
}
#product .me--general__block h4 {
  font-weight: 400;
  font-size: 13px;
  color: #777777;
  margin-left: 270px;
}
#product .you--general {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#product .you--general__block {
  width: 380px;
  height: 432px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 0;
}
#product .you--general__block h1 {
  font-weight: 400;
  font-size: 18px;
  color: #011F3A;
  margin-left: 20px;
}
#product .you--general__block h2 {
  height: 72px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #777777;
  margin-left: 20px;
}
#product .you--general__block h3 {
  font-weight: 400;
  font-size: 13px;
  color: #777777;
  margin-left: 270px;
  line-height: 24px;
  margin-top: -65px;
}
#product .you--general__block h4 {
  font-weight: 400;
  font-size: 13px;
  color: #777777;
  margin-left: 270px;
}
#product .need--general {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#product .need--general h1 {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #A1A1A1;
}
#product .need--general button {
  color: #3D5675;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 30px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 44px;
  border: 1px solid #3D5675;
}
#product .need--general button:hover {
  transform: scale(1.1);
}

#fast {
  background: #EEEEEE;
  padding: 120px 40px;
}
#fast .box {
  margin: 70px;
  width: 1000px;
  height: 700px;
  background: #72BDA3;
  box-shadow: 0 14px 44px rgba(143, 143, 143, 0.25);
  border-radius: 0;
}
#fast .box h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #011F3A;
  padding: 50px 0;
}
#fast .box .box-in {
  display: flex;
  align-items: center;
  justify-content: center;
}
#fast .box .box-in .order h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #011F3A;
}
#fast .box .box-in .order p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #3D5675;
}
#fast .box button {
  margin: 75px 385px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #3D5675;
  border-radius: 44px;
  border: none;
  padding: 10px 25px;
}

#advantage {
  background: #EEEEEE;
  padding: 120px 40px;
}
#advantage .advantage--general__title h1 {
  font-weight: 700;
  font-size: 32px;
  color: #011F3A;
  margin-bottom: 80px;
}
#advantage .advantage--general__block h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #011F3A;
  margin-bottom: 20px;
}
#advantage .advantage--general__block p {
  font-weight: 400;
  font-size: 15px;
  color: #A1A1A1;
}
#advantage .advantage--general__op {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#free {
  background: #EEEEEE;
  padding: 120px 40px;
}
#free .free--general {
  height: 610px;
  background: #FFCA3A;
  box-shadow: 0 14px 44px rgba(143, 143, 143, 0.25);
  border-radius: 0;
}
#free .free--general__br {
  margin-top: 110px;
  margin-left: 20px;
}
#free .free--general__br img {
  margin-left: 60px;
}
#free .free--general__br h1 {
  font-weight: 700;
  font-size: 24px;
  color: #011F3A;
  text-align: center;
  margin-bottom: 14px;
}
#free .free--general__br h2 {
  font-weight: 400;
  font-size: 15px;
  color: #3D5675;
  text-align: center;
  margin-bottom: 20px;
}
#free .free--general__br button {
  color: #3D5675;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 30px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 44px;
  border: 1px solid #3D5675;
  margin-left: 70px;
}
#free .free--general__br button:hover {
  transform: scale(1.1);
}
#free .free--general__qwe {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#google {
  background: #EEEEEE;
  padding: 100px 40px;
}
#google .google--general__title h1 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #011F3A;
}
#google .well--general {
  height: 1400px;
  background: #FFFFFF;
  box-shadow: 0 14px 44px rgba(143, 143, 143, 0.25);
  border-radius: 0;
}
#google .well--general__shopify {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#google .well--general__shopify img {
  margin-top: 100px;
}
#google .well--general__easy {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}
#google .well--general__team h1 {
  font-weight: 400;
  font-size: 24px;
  color: #011F3A;
  margin-bottom: 20px;
}
#google .well--general__cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#google .well--general__cont button {
  background: #F2F2F2;
  border-radius: 44px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #3D5675;
  padding: 10px 10px;
  border: none;
  margin-left: 30px;
}
#google .well--general__cont button:hover {
  transform: scale(1.1);
}
#google .well--general__par {
  margin-left: 30px;
}
#google .well--general__par h1 {
  font-weight: 400;
  font-size: 18px;
  color: #011F3A;
}
#google .well--general__par h2 {
  font-weight: 400;
  font-size: 15px;
  color: #A1A1A1;
  margin-top: -20px;
}

#let {
  background: #EEEEEE;
  padding: 120px 40px;
}
#let .let--general__it h1 {
  font-weight: 700;
  font-size: 31px;
  text-align: center;
  color: #011F3A;
}
#let .let--general__or {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
}
#let .let--general__or button {
  padding: 15px 30px;
  background: #3D5675;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid #3D5675;
}
#let .let--general__or button:hover {
  transform: scale(1.1);
}
#let .let--general__ha button {
  color: #3D5675;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 30px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 44px;
  border: 1px solid #3D5675;
  margin-left: 70px;
}
#let .let--general__ha button:hover {
  transform: scale(1.1);
}

#footer {
  background: #f3f4f8;
  padding: 120px 40px;
}
#footer .footer--general {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .footer--general__er {
  margin-top: -130px;
}
#footer .footer--general__all a {
  font-weight: 400;
  font-size: 15px;
  color: #3D5675;
  display: flex;
  flex-direction: column;
  line-height: 27px;
}
#footer .footer--general__she {
  margin-top: -30px;
}
#footer .footer--general__she a {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #3D5675;
  display: flex;
  flex-direction: column;
}
#footer .footer--general__he {
  margin-top: -50px;
}
#footer .footer--general__he a {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #3D5675;
  display: flex;
  flex-direction: column;
}
#footer .footer--general__open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
#footer .footer--general__go {
  display: flex;
  flex-direction: column;
}
#footer .footer--general__go h1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3D5675;
  margin-bottom: 20px;
}
#footer .footer--general__go input {
  background: #FFFFFF;
  border-radius: 34px;
  padding: 10px 70px;
  margin-bottom: 20px;
}
#footer .footer--general__go button {
  padding: 15px 30px;
  background: #3D5675;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid #3D5675;
}
#footer .footer--general__go button:hover {
  transform: scale(1.1);
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #hero .hero--general__block h1 {
    font-size: 33px;
  }
  .hero--general__me img {
    width: 90%;
  }
  #fast .box {
    width: 930px;
    margin-left: -40px;
  }
  #google .well--general__easy {
    justify-content: center;
    flex-direction: column;
  }
  #google .well--general {
    height: 2167px;
  }
  #google .well--general__team h1 {
    margin-bottom: 31px;
  }
  #google .well--general__team h1 {
    margin-bottom: 20px;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .header--general__start {
    display: none;
  }
  .header--general__shop {
    display: none;
  }
  #hero .hero--general {
    justify-content: center;
    flex-direction: column;
  }
  #product .product--general__title h1 {
    font-size: 22px;
    margin-top: 45px;
  }
  #product .me--general {
    justify-content: center;
    flex-direction: column;
  }
  #product .you--general {
    justify-content: center;
    flex-direction: column;
  }
  #product .need--general button {
    padding: 8px 73px;
  }
  #fast .box .box-in {
    flex-direction: column;
  }
  #fast .box h1 {
    font-size: 15px;
  }
  #fast .box {
    width: 702px;
    height: 1417px;
  }
  #advantage .advantage--general__op {
    justify-content: center;
    flex-direction: column;
  }
  #free .free--general__qwe {
    justify-content: center;
    flex-direction: column;
  }
  #free .free--general {
    height: 1041px;
  }
  #footer .footer--general {
    justify-content: center;
    flex-direction: column;
  }
  .footer--general__all {
    margin-top: 30px;
  }
  .footer--general__she {
    margin-top: 30px;
  }
  #footer .footer--general__she {
    margin-top: 21px;
  }
  #footer .footer--general__he {
    margin-top: 31px;
  }
  #footer .footer--general__go h1 {
    font-size: 15px;
    margin-left: 51px;
  }
}
@media (max-width: 576px) {
  #amazon .amazon--general__block {
    justify-content: center;
    flex-direction: column;
  }
  #product .product--general__title {
    justify-content: center;
    flex-direction: column;
  }
  #product .me--general__block {
    margin-top: 20px;
  }
  #product .you--general__block {
    margin-top: 20PX;
  }
  #product .need--general {
    justify-content: center;
    flex-direction: column;
    padding: -13px 320px;
  }
  #fast .box {
    width: 520px;
    height: 1397px;
  }
  #fast .box button {
    font-size: 8px;
    padding: 6px 90px;
    margin-left: 131px;
  }
  #advantage .advantage--general__title h1 {
    font-size: 26px;
  }
  #google .well--general__shopify img {
    width: 100px;
  }
  .well--general__easy img {
    width: 400px;
  }
  #google .well--general__cont {
    justify-content: center;
    flex-direction: column;
  }
  #google .well--general {
    height: 3060px;
  }
  #fast .box {
    width: 411px;
    height: 1358px;
  }
  #fast .box button {
    margin-left: 109px;
  }
  #free .free--general__br h2 {
    font-size: 11px;
  }
  #free .free--general__br h1 {
    font-size: 17px;
  }
  #free .free--general__br img {
    margin-left: 27px;
  }
  #free .free--general__br button {
    font-size: 6px;
  }
  .well--general__easy img {
    width: 288px;
  }
  #google .well--general__team h1 {
    font-size: 16px;
  }
  #let .let--general__or {
    flex-direction: column;
    padding: 26px 13px;
  }
  .let--general__ha {
    margin-top: 20px;
    margin-left: -60px;
  }
  #footer .footer--general__er {
    margin-top: -83px;
  }
}
@media (max-width: 400px) {
  #google .well--general__par h2 {
    font-weight: 400;
    font-size: 19px;
    color: #A1A1A1;
    margin-top: -20px;
  }
  #google .google--general__title h1 {
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    color: #011F3A;
    /* margin-top: 50px; */
    margin-bottom: 30px;
  }
  #google .well--general__cont button {
    margin-left: -59px;
    margin-top: 20px;
  }
  #google .well--general {
    height: 2515px;
  }
  #google .well--general__cont button {
    display: none;
  }
  #fast .box {
    width: 367px;
    height: 1358px;
  }
}

/*# sourceMappingURL=style.css.map */
